#content {
  height: 100%;
  height: 100vh;
}
.leaflet-container {
  height: calc(100vh - 64px);
  max-height: 100%;
  background: rgba(239,239,203,.59);
}
body {
  margin: 0;
}
#drawer_uiComponents {
  margin: 10px;
}
body .leaflet-div-icon {
  border: 0;
  background: transparent;
}
#drawer_uiComponents .mdi {
  width: auto;
  height: auto;
}
.mdi:before {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: var(--before-background, transparent);
}
