{
  "presets": [
    ["@babel/preset-env", {
      modules: false,
      corejs: "3.6",
      useBuiltIns: "entry",
      targets: "last 3 years"
    }],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ],
}
