{
  "presets": [
    ["@babel/preset-env", {
      modules: false,
      useBuiltIns: "usage",
      debug: true,
      targets: {
        browsers: ["iOS 5"]
      }
    }],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ],
}
